{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h4>Informations</h4>
<p>Current email: {{ current_user.email }}</p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modifyEmailModal">Modify informations</button>
<div class="modal fade" id="modifyEmailModal" tabindex="-1" role="dialog" aria-labelledby="modifyEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyEmailModalLabel">Modify mail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock  %}